#header{
    position: sticky;
    z-index: 9999;
    top:0px;
}
.carousel-indicators button{
    width: 10px !important; 
    border-radius: 10px !important;
    height: 10px !important;
    border:none !important;
    position: relative;
    margin: 10px !important;
}
.btn-round-box{
    width: 38px;
    height: 38px;
}
.carousel-indicators button.active::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    /* background: red; */
    top: -5px;
    border:2px solid white;
    border-radius: 20px;
    left: -5px;
}
.single-popular-items{
}
.popular-img{
    position: relative;
}
.popular-items {
    margin: 50px 0;
}

.popular-img img{
    width: 100%;
}
.favorit-items{
    position: absolute;
    bottom: 50%;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: 1s all ease;
}
.img-cap{
    position: absolute;
    bottom: 0;
    left: 0;
    /* background: #aaaaaa90; */
    background:linear-gradient(to top,#aaaaaa90,#aaaaaa40);
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 1s all ease;
}
.img-cap span{
    color: white;
    font-size: 30px;
}
.popular-img:hover .img-cap{
    opacity: 1;
}
.popular-img:hover .favorit-items{
    opacity: 1;
}
.single-new-arrival{
    margin-bottom: 20px;
}
.slider-area{
    position: relative;
}
.slider-area-info{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.single-new-arrival .favorit-items{
    width: 50px;
    height: 50px;
    opacity: 0;
    right: 10px;
    left: unset;
    top: 10px;
}
.popular-caption{
    padding: 20px;
}
.popular-caption h3 a{
    text-decoration: none;
    color: black;
    margin-top: 20px;
    font-size: 20px;
}
.collection-img{
    position: relative;

}
.collection-img::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #110e0e71;
}
.single-question{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.location-img img{
    max-width: 100%;
}
.single-product{
    position: relative;
}
.location-details{
    position: absolute;
    bottom: 30%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
.location-details p a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.categories-area{
    margin: 50px 0;
    background: #aaaaaa70;
    padding: 80px 20px;
}
.footer-tittle ul{
    padding-left: 0;
}
.footer-tittle li{
    list-style: none;
}
.footer-tittle li a{
    color: black;
    text-decoration: none;
}
.footer-social a{
    color: black;
}
.footer-social{
    display: flex;

}
.footer-social a{
    margin-right: 3px;
    border: 1px solid #aaaaaa70;
    border-radius: 50%;
    padding: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}